{% load thumbnail %}
<div class="event_v_c">
    <div class="event_video">
        {% with resources.0 as video %}
            <div id="videoplayer_mini">
            </div>
        {% endwith %}
    </div>
    <div id="history_carousel">
        {% if resources.count > 0 %}
            <a class="prev" href="#">prev</a>
            <div class="jcarousel">
                <ul>
                  {% for r in resources %}
                  <li {% if forloop.first %}class="selected" {% endif %}title="{{ r.title }}">
                    <a href="{{ r.file.url }}">
                        <span class="carousel_img">
                        {% thumbnail r.snapshot "51x44" crop="center" as thumb %}
                            <img src="{{ thumb.url }}"
                                 alt="{{ r.title }}"
                                 width="{{ thumb.width }}"
                                 height="{{ thumb.height }}" />
                        {% endthumbnail %}
                        </span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            <a class="next" href="#">next</a>
        {% endif %}
    </div>
</div>

