Здравствуйте, вы зарегистрировались на сайте XIV Инновационного форума http://innovus.biz
Чтобы активировать аккаунт, перейдите по ссылке http://innovus.biz{% url profile_activation %}?code={{ code }}
или зайдите на сайт по ссылке http://innovus.biz{% url profile_activation %} и введите код активации вручную.

Код активации: {{ code }}


---
С уважением,
Организационный комитет
XIV Томский инновационный форум INNOVUS



--------------------------------------------------------------------------------------------------

Hello! You've just completed registration at the XIV Innovative forum site http://innovus.biz
Please, proceed to the account activation by url http://innovus.biz{% url profile_activation %}?code={{ code }}
or go to the site with link http://innovus.biz{% url profile_activation %} and submit activation code manualy.

Activation code: {{ code }}


---
Sincerely yours,
Organizing Committee,
The INNOVUS XIVth Tomsk Innovation Forum

