{% extends "two-columns-right.html" %}
{% load cache i18n %}
{% block title %}{% trans 'Password change' %}{% endblock %}

{% block main_content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="change_password">
  <form action="" method="post">
    {% csrf_token %}

    {% if form.old_password.errors %}
      <div class="error">
        <p class="label">
          <label for="id_old_password" class="required">{% trans 'Old password' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
        </p>
        <p class="input">{{ form.old_password }}</p>
        <div class="error_mess">{{ form.old_password.errors }}</div>
      </div>
    {% else %}
      <p class="label">
        <label for="id_old_password" class="required">{% trans 'Old password' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
      </p>
      <p class="input">{{ form.old_password }}</p>
    {% endif %}

    {% if form.new_password1.errors %}
      <div class="error">
        <p class="label">
          <label for="id_new_password1" class="required">{% trans 'New password' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
        </p>
        <p class="input">{{ form.new_password1 }}</p>
        <div class="error_mess">{{ form.new_password1.errors }}</div>
      </div>
    {% else %}
      <p class="label">
        <label for="id_new_password1" class="required">{% trans 'New password' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
      </p>
      <p class="input">{{ form.new_password1 }}</p>
    {% endif %}

    {% if form.new_password2.errors %}
      <div class="error">
        <p class="label">
          <label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
        </p>
        <p class="input">{{ form.new_password2 }}</p>
        <div class="error_mess">{{ form.new_password2.errors }}</div>
      </div>
    {% else %}
      <p class="label">
        <label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label><abbr title="{% trans 'Обязательное поле' %}">*</abbr>
      </p>
      <p class="input">{{ form.new_password2 }}</p>
    {% endif %}

    <div class="submit">
      <input type="submit" value="{% trans 'Change my password' %}" class="default" />
      <a href="{% url profile_view%}">{% trans "Cancel" %}</a>
    </div>

  </form>
</div>
{% endblock %}

{% block column_content %}
    {% include "profile/includes/contact_info.html" %}
{% endblock %}

