body {
  min-width: 975px;
}


.two_columns {
  overflow: hidden;
  display: inline-block;
}

.two_columns {
  display: block;
}

.two_columns .left {
  float: left;
  width: 100%;
  overflow: hidden;
}

.two_columns .left .left-con {
  padding: 0 303px 0 0;
  min-width: 642px;
}

.two_columns .right {
  float: left;
  margin-right: -3px;
  width: 300px;
  height: 100%;
  margin-left: -300px;
  position: relative;
}

.two_columns .right .module .vDateField, .two_columns .right .module .vTimeField {
  float: right;
}

.two_columns .right .module .category div ul li {
  list-style: none;
}

.two_columns .right .datetime span {
  display: block;
  margin: 0 auto;
  width: 85px;
}

.two_columns .right .datetime br {
  display: none;
}


.submit-row .vCheckboxLabel {
  vertical-align: middle;
}

