{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ CSS_URL }}print.css" />
  <title>Список заявок версия для печати | Томский инновационный форум</title>
</head>
<body>

<div id="container" class="claim_list">
{% if filter_set %}
  <h3>Набор фильтров:</h3>
  <ul>
  {% for key,value in filter_set.items %}
    <li>{{ key|capfirst }} - {{ value }}</li>
  {% endfor %}
  </ul>
{% endif %}
  <h3>Найдено: {{ claims.count }}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Organization" %}</th>
        <th>{% trans "Claim type" %}</th>
        <th>{% trans "State of claim" %}</th>
        <th>{% trans "Incoming" %}</th>
        <th>{% trans "Outcoming" %}</th>
        <th>{% trans "Hotel" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for d in claims %}
      <tr>
        <td>
          <p class="name">{{ d.last_name }} {{ d.first_name }} {{ d.middle_name }}</p>
          <p>{{ d.country }}{% if d.region %}, {{ d.region }}{% endif %}</p>
        </td>
        <td>
          {% if d.industry %}<p>{{ d.industry }}</p>{% endif %}
          <p>{% if d.organization %}{{ d.organization }}{% endif %}{% if d.position %}, {{ d.position }}{% endif %}</p>
        </td>
        <td>
          <p>{{ d.get_claim_type_display }}</p>
        </td>
        <td>
          <p>{{ d.get_claim_state_display }}</p>
        </td>
        <td>
          {% if d.is_travel%}
            {% if d.arrival_want_charter %}
              <p>{% trans "Charter flight Moscow &rarr; Tomsk" %}</p> <!-- Чартерный авиарейс Москва &rarr; Томск -->
              <!-- <p>{% trans "Departure: 19th of May, tonight" %}</p> --><!-- Вылет 19 мая вечером -->
            {% else %}
              <p>{% trans "Tomsk arrival transport type" %}: {{ d.get_arrival_transport_type_display }}</p>
              <p>{% trans "Tomsk arrival date and time" %}: {{ d.arrival_date|date:"d.m.Y H:i" }}</p>
            {% endif %}
          {% else %}
            <p>{% trans "Для участников из Томской области информация не собирается" %}</p>
          {% endif %}
        </td>
        <td>
          {% if d.is_travel%}
            {% if d.departure_want_charter %}
              <p>{% trans "Charter flight Tomsk &rarr; Moscow" %}</p>
              <!-- <p>{% trans "Departure: 21th of May, tonight" %}</p> -->
            {% else %}
              <p>{% trans "Tomsk departure transport type" %}: {{ d.get_departure_transport_type_display }}</p>
              <p>{% trans "Tomsk departure date and time" %}: {{ d.departure_date|date:"d.m.Y H:i" }}</p>
            {% endif %}
          {% else %}
            <p>{% trans "Для участников из Томской области информация не собирается" %}</p>
          {% endif %}
        </td>
        {% if d.is_travel%}
          {% if d.room_category %}
            {% if d.hotel_reserves.count %}
              <td class="already_reserved">
                {% with d.hotel_reserves.all.0.room as room %}
                  <p>гостиница: {{ room.hotel }}</p>
                  <p>класс: {{ room.get_room_category_display }}</p>
                  <p>номер: {{ room.room_number }}</p>
                {% endwith %}
              </td>
            {% else %}
              <td class="need_reservation">
                <p>Запрошено бронирование номера в гостинице: {{ d.get_room_category_display }}</p>
              </td>
            {% endif %}
          {% else %}
            <td>
              <p>Бронирование не требуется</p>
            </td>
          {% endif %}
        {% else %}
        <td>
          <p>{% trans "Для участников из Томской области информация не собирается" %}</p>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>

