body{
  background: url("../img/fakeimg.gif") no-repeat;
  background-attachment: fixed; }
body .min-width .minwidth{
  padding: 135px 0 0 0; }

#ie6stop {
  height: 130px;
  left: 0;
  width: 100%;
  color: #000;
  display: block !important;
  font-size: 14px;
  font-family: "Arial", "Verdana", "sans-serif";
  border-bottom: 1px solid #f7941d;
  background-color: #feefda;
  padding: 0 0 5px 0;
  margin: 0;
  z-index: 999999;
  position: absolute;
  top: expression(eval(document.documentElement.scrollTop)); }

#ie6stop .cornerx {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -99px;
  overflow: hidden;
  background: url("../img/ie6stop/cornerx.png") no-repeat;
  margin: 5px 5px 0 0; }

#ie6stop .browsers {
  width: 900px;
  height: 90px;
  margin: 0 auto; }

#ie6stop .browsers p {
  float: left;
  width: 520px;
  font-family: "Arial", "Verdana", "sans-serif";
  background: url("../img/ie6stop/warning.png") no-repeat left;
  padding-left: 60px;
  margin: 10px 10px 0 0; }

#ie6stop .browsers .firefox,
#ie6stop .browsers .safari,
#ie6stop .browsers .chrome,
#ie6stop .browsers .ie8,
#ie6stop .browsers .opera {
  float: left;
  display: block;
  width: 49px;
  height: 73px;
  text-indent: -9999em;
  overflow: hidden;
  margin-right: 10px; }

#ie6stop .firefox {
  background: url("../img/ie6stop/firefox.png"); }

#ie6stop .safari {
  background: url("../img/ie6stop/safari.png"); }

#ie6stop .chrome {
  background: url("../img/ie6stop/chrome.png"); }

#ie6stop .ie8 {
  background: url("../img/ie6stop/ie8.png"); }

#ie6stop .opera {
  background: url("../img/ie6stop/opera.png") no-repeat;
  height: 49px; }

#ie6stop .browsers div {
  font-family: "Arial", "Verdana", "sans-serif";
  padding-right: 6px }

