{% load cache %}
{% cache 300 error404 %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>404 {% trans "Page not found" %} | {% trans "Tomsk innovative forum" %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="title" content="XIV {% trans "Tomsk innovative forum" %} 20-21 мая" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="/media/static/img/favicon.ico" type="image/x-icon" />
    <link href="/media/static/css/errors.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id='error' class="{{ LANGUAGE_CODE }}">
    <p class='name'>XIV {% trans "Innovative forum" %}, 26-27 {% trans "of May" %}, {% trans "Tomsk city" %} </p>
    <p class='text'>{% trans "Requested page not found" %}</p>
    <p>{% trans "Please, try to start from" %} <a href="/">{% trans "index page" %}</a></p>
  </div>

  <!-- Piwik -->
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stat.openteam.ru/" : "http://stat.openteam.ru/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script>
  <noscript><p><img src="http://stat.openteam.ru/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->

</body>
</html>
{% endcache %}

